<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
    <link rel="stylesheet" href="Register.css">
</head>
<body>

<%- include('../components/navbar.ejs') %>

    <!-- Form Section -->
    <div class="form-wrapper">
        <div class="form-container">
            <h2>Register</h2>
<form action="/register" method="post">
    <input type="text" name="username" placeholder="Username" required>
    <input type="email" name="email" placeholder="Email Address" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Create Account</button>
</form>

        </div>
    </div>

</body>
</html>
