
    <div class="navbar">
        <div class="logo">Forum</div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </div>
    </div>